body{
    font-family: 'Dosis', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    background-color: lightslategray;
    text-align: center;
}

.container{
    max-width: 500px;
    margin: 0 auto;
}

h1{
    text-shadow: 2px 2px 2px rgba(143, 70, 28, 0.794);
    background-color: rgba(202, 128, 86, 0.849);
}

p{
    font-size: 18px;
    font-weight: 400;
}

h3{
    background-color: lightsalmon;
    max-width: 120px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}
